# Server
NODE_ENV='production' # 'development' | 'production'
PORT=4000

# Service URLs (Internal Docker DNS)
AUTH_SERVICE_URL='http://auth-service:4002'
CONTENT_SERVICE_URL='http://content-service:4003'
GAME_SERVICE_URL='http://game-service:4001'

# External API Keys
CLIENT_ID='your_client_id_here'
CLIENT_SECRET='your_client_secret_here'

# Global Rate Limiting
RATE_LIMIT_WINDOW_MS=900000 # 15 minutes in milliseconds
RATE_LIMIT_MAX_REQUESTS=100 # Max requests per window

# Content Service Rate Limiting
RATE_LIMIT_WINDOW_MS_CONTENT=2000 # 2 seconds in milliseconds
RATE_LIMIT_MAX_REQUESTS_CONTENT=2 # Max requests per window

# Caching (Redis)
REDIS_URL='redis://redis:6379'
CACHE_TTL_SECONDS=3600
