PORT=4004
NODE_ENV="development"
SERVICE_NAME="playlist-service"

PLAYLIST_SERVICE_PORT=4004
DATABASE_URL="postgresql://playlist_db:playlist_db_password@postgres:5432/playlist_db"
MEDIA_DIR="/media"
CONTENT_SERVICE_URL="http://content-service:4003"
DEFAULT_SPOTIFY_PLAYLIST_ID="4m6KPiWl16XF39K0q9qbGm"
MIN_SEED_SONGS=10
