NODE_ENV=production
DATABASE_URL="postgresql://postgres_user:postgres_password@postgres:5432/postgres_db"
PLAYLIST_SERVICE_URL="http://playlist-service:4004"
CONTENT_SERVICE_URL="http://content-service:4003"
AUTH_SERVICE_URL="http://auth-service:4002"
