PORT = 4002
JWT_SECRET="your_jwt_secret_key"
DATABASE_URL="postgresql://postgres_user:postgres_password@postgres:5432/postgres_db?schema=auth"

SPOTIFY_CLIENT_ID="example"
SPOTIFY_CLIENT_SECRET="example"
SPOTIFY_REDIRECT_URI="https://127.0.0.1:8443/api/auth/spotify/callback"

FRONTEND_URL="https://localhost:8443"

COOKIE_SECURE="false"
COOKIE_SAMESITE="lax"
